<div class="update-test-container">
  <button routerLink="/test-list" class="back"><i class="fa-solid fa-arrow-left"></i></button>
  <h1>Update Test</h1>
  <form [formGroup]="testForm" (ngSubmit)="updateTest()">
    

    <div class="form-group">
      <label for="testName">Test Name</label>
      <input
        id="testName"
        type="text"
        formControlName="testName"
        placeholder="Enter test name"
      />
    </div>

    <div class="form-group">
      <label for="testDescription">Test Description</label>
      <textarea
        id="testDescription"
        formControlName="testDescription"
        placeholder="Enter test description"
      ></textarea>
    </div>

    <div class="form-group">
      <label for="duration">Duration (minutes)</label>
      <input
        id="duration"
        type="number"
        formControlName="duration"
        placeholder="Enter duration in minutes"
      />
    </div>

    <button type="submit" class="update-button" [disabled]="testForm.invalid">
      Update Test
    </button>
  </form>
</div>

<!-- <p>Welcome To Update Test Page!</p> -->
