<div class="navbar">
    <div class="navbar-left">
      <button (click)="showPopup()" routerLink="/assignedc" class="nav-button">Tests</button>
      <button routerLink="/finished" class="nav-button">Attempted Tests</button>
    </div>
    
    <div class="navbar-right">
      <div class="dropdown">
        <button class="nav-button" (click)="toggleDropdown()">User</button>
        <div class="dropdown-menu" *ngIf="isDropdownVisible">
          <button routerLink="/profile" class="dropdown-item">Profile</button>
          <button routerLink="/login" (click)="logout()" class="dropdown-item">Logout</button>
        </div>
      </div>
    </div>

</div>

<!-- Hero Section -->
<div class="hero-section">
  <div>
    <h1>Welcome to CoderPad</h1>
    <p>Empowering Your Queries, One Line at a Time</p>
  </div>
</div>

<!-- Content Section -->
<div class="content-section">
  <div>
    <h2>Hola!!  CHAMP</h2>
    <p>Driven by Passion, Ready for the Challenge</p>
  </div>
</div>

<!-- Footer Section -->
<footer class="footer">
  <div>
    <p>&copy; 2024 TechStore. All Rights Reserved.</p>
    <a href="#" class="text-white">Privacy Policy</a> | 
    <a href="#" class="text-white">Terms of Service</a>
  </div>
</footer>
  <!-- <button (click)="logMessage()">Click Me</button> -->
  <div *ngIf="showTestButton" class="popup">
    <p>Click below to perform an action:</p>
    <button (click)="logTestMessage()">Perform Action</button>
  </div>
  <router-outlet></router-outlet> <!-- Outlet for child components -->
  
