<div class="attempted-test-container">
  <h2>Attempting Test: {{ testDetails?.testName }}</h2>
  <p>Duration: {{ testDetails?.duration }} minutes</p>
  <div class="timer">Time Remaining: {{ formatTime(timer) }}</div>


  <div *ngFor="let question of questions; let i = index">
    <!-- Single-Select MCQ question type -->
    <div *ngIf="question.quesType === 'mcq'">
      <p>{{i+1}} . {{ question.questionDescription }}</p>
      <div>
        <label *ngFor="let option of getOptions(question);let optionIdx = index">
          <input
            type="radio"
            [name]="'question_' + question.id"
            [value]="optionIdx+1"
            (change)="selectAnswer(question.id, optionIdx+1)"
          />
          {{ option }}
        </label>
      </div>
    </div>

    <!-- Multi-Select MCQ question type -->
    <div *ngIf="question.quesType === 'multi-mcq'">
          <p>{{ i + 1 }}. {{ question.questionDescription }}</p>
          <div>
            <label *ngFor="let option of getOptions(question); let optionIdx = index">
              <input
                type="checkbox"
                [name]="'question_' + question.id"
                [value]="optionIdx + 1"
                (change)="toggleMultiSelectAnswer(question.id, optionIdx + 1, isChecked($event))"
              />
              {{ option }}
            </label>
          </div>
    </div>

    <!-- SQL question type -->
    <div *ngIf="question.quesType === 'sql'">
      <p>{{i+1}} . {{ question.questionDescription }}</p>
      <textarea
        (input)="selectAnswerSQL(question.id, getTextAreaValue($event))"
      ></textarea>
    </div>
  </div>

<div class="submit-button-style">
   <button  (click)="submitTest()" class="submit-button">Submit Test</button>
</div>

</div>


<!-- <p>Welcome To Attempted Test</p> -->

