<body>
<div class="navbar">
  <div class="navbar-left">
    <button routerLink="/admin-approval" class="nav-button">Profile Approval</button>
    <button routerLink="/users" class="nav-button">Users</button>
  </div>

  <div class="navbar-right">
    <div class="dropdown">
      <span *ngIf="userName" class="user-welcome">Welcome!! {{userName}}</span>
      <button class="nav-button"><i class="fa-solid fa-user"></i></button>
      <div class="dropdown-menu">
        <button routerLink="/profile" class="dropdown-item">Profile</button>
        <button routerLink="/login" class="dropdown-item">Logout</button>
      </div>
    </div>
  </div>
</div>

<main>
  <!-- Hero Section -->
  <div class="hero-section">
    <div>
      <h1>Welcome to CoderPad</h1>
      <p>Empowering Your Queries, One Line at a Time</p>
    </div>
  </div>

  
</main>
  <!-- Footer Section -->
  <footer class="footer">
    <div>
      <p>&copy; 2024 CoderPad. All Rights Reserved.</p>
      <a href="#">Privacy Policy</a> | 
      <a href="#">Terms of Service</a>
    </div>
  </footer>
</body>
  <router-outlet></router-outlet> <!-- Child components will render here -->
  