.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #333;
}

.navbar-left, .navbar-right {
  display: flex;
  align-items: center;
}

.nav-button {
  color: white;
  background-color: #444;
  border: none;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
}

.nav-button:hover {
  background-color: #797979;
}

.nav-button:focus {
  outline: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-button {
  background-color: #444;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 150px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 5px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropdown-button {
  background-color: #444;
}
h2{
  color: black;
    text-align: center;
    margin-top:10px;
    margin-bottom: 20px;
}
.hero-section {
  height: 52vh;
}
  .container {
    padding: 10px;
    text-align: center;
    font-family: Arial, sans-serif;
  }
  
  .tests-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  
  .tests-table th, .tests-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .tests-table th {
    background-color: #f4f4f4;
  }
  
  .send-button {
    padding: 5px 10px;
    color: white;
    background-color: #444;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .send-button:hover {
    background-color: #555;
  }
  
  
  .footer {
    background-color: #333; /* Dark background */
    color: #fff; /* White text */
    text-align: center;
    padding: 15px 20px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    position: fixed; /* Fixed at the bottom of the page */
    bottom: 0; /* Aligns the footer at the very bottom */
    width: 100%; /* Ensures it spans the entire width */
    left: 0; /* Ensures it stays within the page boundaries */
    z-index: 1000; /* Ensures the footer is above other elements */
  }
  
  .footer p {
    margin: 0;
  }
  
  .footer a {
    color: #66d9ff;
    text-decoration: none;
    margin: 0 5px;
  }
  
  .footer a:hover {
    text-decoration: underline;
  }