<div class="navbar">
  <div class="navbar-left">
    <button routerLink="/create-test" class="nav-button">Create Tests</button>
    <button routerLink="/test-list" class="nav-button">Tests</button>
    <button routerLink="/create-question" class="nav-button">Create Questions</button>
  </div>

  <div class="navbar-right">
    <div class="dropdown">
      <button class="nav-button">User</button>
      <div class="dropdown-content">
        <a routerLink="/profile">Profile</a>
        <a routerLink="/login">Logout</a>
      </div>
    </div>
  </div>
</div>


<div class="create-question-container">
  <h1>Create New Question</h1>

  <form [formGroup]="questionForm" (ngSubmit)="saveQuestion()">
    <div class="form-group">
      <label for="questionDescription">Question Description</label>
      <textarea id="questionDescription" formControlName="questionDescription"></textarea>
    </div>

    <div class="form-group">
      <label for="quesType">Question Type</label>
      <select id="quesType" formControlName="quesType">
        <option value="mcq">MCQ</option>
        <option value="sql">SQL</option>
      </select>
    </div>

    <div class="form-group">
      <label for="difficulty">Difficulty Level</label>
      <select id="difficulty" formControlName="difficulty">
        <option value="easy">Easy</option>
        <option value="medium">Medium</option>
        <option value="hard">Hard</option>
      </select>
    </div>

    <div class="form-group" *ngIf="questionForm.value.quesType === 'mcq'">
      <label for="option1">Option 1</label>
      <input type="text" id="option1" formControlName="option1" />
    </div>

    <div class="form-group" *ngIf="questionForm.value.quesType === 'mcq'">
      <label for="option2">Option 2</label>
      <input type="text" id="option2" formControlName="option2" />
    </div>

    <div class="form-group" *ngIf="questionForm.value.quesType === 'mcq'">
      <label for="option3">Option 3</label>
      <input type="text" id="option3" formControlName="option3"  />
    </div>

    <div class="form-group" *ngIf="questionForm.value.quesType === 'mcq'">
      <label for="option4">Option 4</label>
      <input type="text" id="option4" formControlName="option4" />
    </div>

    <div class="form-group">
      <label for="correctAnswer">Correct Answer</label>
      <input type="text" id="correctAnswer" formControlName="correctAnswer" />
    </div>

    <!-- <div class="form-group" *ngIf="questionForm.value.quesType === 'sql'">
      <label for="queryResult">Query Result</label>
      <input type="text" id="queryResult" formControlName="queryResult" />
    </div> -->

    <button type="submit" [disabled]="questionForm.invalid" class="save-button">
      Save Question
    </button>
  </form>
</div>

<!-- <p>Welcome To Create Question!</p> -->
