<div class="question-list-container">
  <button (click)="goBack()" class="back"><i class="fa-solid fa-arrow-left"></i></button>
  <h2>Question List</h2>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Description</th>
        <th>Type</th>
        <th>Difficulty</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let question of questions; let i = index">
        <td>{{ i+1 }}</td>
        <td>{{ question.questionDescription }}</td>
        <td>{{ question.quesType }}</td>
        <td>{{ question.difficulty }}</td>
        <td>
          <button (click)="addToTest(question)">Add Q</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>


