<div class="question-list-container">
  <button (click)="goBack()" class="back"><i class="fa-solid fa-arrow-left"></i></button>
  <h2>Question List</h2>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Description</th>
        <th>Type</th>
        <th>Difficulty</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let question of questions; let i = index">
        <td>{{ i+1 }}</td>
        <td>{{ question.questionDescription }}</td>
        <td>{{ question.quesType }}</td>
        <td>{{ question.difficulty }}</td>
        <td>
          <button (click)="addToTest(question)"><i class="fa-solid fa-plus"></i> Add</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>


<footer class="footer">
  <div>
    <p>&copy; 2025 CoderPad. All Rights Reserved.</p>
    <a href="#" class="text-white">Privacy Policy</a> | 
    <a href="#" class="text-white">Terms of Service</a>
  </div>

</footer>