<div class="navbar">
  <div class="navbar-left">
    <button routerLink="/admin-approval" class="nav-button">Profile Approval</button>
    <button routerLink="/users" class="nav-button">Users</button>
  </div>

  <div class="navbar-right">
    <div class="dropdown">
      <button class="nav-button">User</button>
      <div class="dropdown-menu">
        <button routerLink="/profile" class="dropdown-item">Profile</button>
        <button routerLink="/login" class="dropdown-item">Logout</button>
      </div>
    </div>
  </div>
</div>


<div class="user-list-container">
  <h2 class="title">Manage Users</h2>
  <div *ngIf="isLoading" class="loading-spinner">Loading...</div>

  <div *ngIf="!isLoading && users.length > 0">
    <table class="styled-table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Username</th>
          <th>Email</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{ user.id }}</td>
          <td>{{ user.firstName }}
          <td>{{ user.email }}</td>
          <td class="btn-td">
            <button class="btn btn-delete" (click)="deleteUser(user.id)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="!isLoading && users.length === 0" class="no-data">
    No users found.
  </div>
</div>


<!-- <p>Welcome To User List Page </p> -->
